In [8]:
import pandas as pd
import requests as r
import re
from espn_fantasy_basketball_analytics.teamManager import teamManager
from basketball_reference_scraper.players import get_stats
import plotly.express as xp
from nba_api.stats.endpoints import PlayerAwards
from nba_api.stats.static.players import find_player_by_id, get_players
import time
from espn_fantasy_basketball_analytics.statManager import statmanager
from espn_fantasy_basketball_analytics.statManager import _api_scrape

In [ ]:
rdl = pd.read_csv('./nba_raptor/latest_RAPTOR_by_player.csv')
rdh = pd.read_csv('./nba_raptor/historical_RAPTOR_by_player.csv')
rdm = pd.read_csv('./nba_raptor/modern_RAPTOR_by_player.csv')
rdm_new = rdm[rdh.columns.to_list()]

rdh_new = rdh[~(rdh['player_id'].isin(rdm['player_id'].to_list()) & rdh['season'].isin(rdm['season'].to_list()))]
rptr_total = pd.concat([rdl,rdm, rdh_new]).sort_values(by=['player_name','season'])

rptr_first_year = rptr_total.groupby('player_name').first()

rnks = pd.read_csv('./player_rankings/fantasy_rankings_hashtag.csv').reset_index().rename(columns={'index':'rnk'})

In [ ]:
# Pull in all player data from rankings
league_id = 64009
year = 2022
s2='AEA5B7v6cs8d6aJoxov5qNrW4y%2BXV3vY3ZrxgePprHBaaxWoi38abbaKLQdWWUHOKjEUCzQRB0OGbHJb8pPHjotcGySmmQ8nhT3jUM5aNcCuij4hu%2BMPaTigZN3eB1UidrA9%2B7lojxbIF4N9PtHSatK6xUYwVEBF7OTo5IN%2FwxXp0wOht3A2rs99fo27HQ0z2l4HcVXWzxVOZbqzPEMff6VbdxJaV39YDcYz%2Bwfw%2FMslT9DiqAwSbc96JuhxqAPvQqp49NAHoJNzv%2FFeNQBAQ6u9Zp0Pr2%2BPsN8bPBAWR0jCvg%3D%3D'
sw='8048D688-6AF3-4640-83ED-4B55EAC50073'
team_name='Lavine La Vida Loca'

team = teamManager(league_id = league_id, year=year, team_name=team_name, espn_s2=s2, swid=sw)

In [ ]:
player_list=rnks['PLAYER'].to_list()
clean_list = [re.sub("\\'||\xa0", '',x) for x in player_list]

player_df = pd.DataFrame()
for i in clean_list:
    player_df = pd.concat([player_df, get_stats(i)])

In [2]:
x = statmanager()

In [9]:
from nba_api.stats.endpoints import CommonAllPlayers

_api_scrape(CommonAllPlayers().get_json())

      PERSON_ID DISPLAY_LAST_COMMA_FIRST   DISPLAY_FIRST_LAST  ROSTERSTATUS FROM_YEAR TO_YEAR                   PLAYERCODE          PLAYER_SLUG     TEAM_ID TEAM_CITY TEAM_NAME TEAM_ABBREVIATION TEAM_CODE TEAM_SLUG GAMES_PLAYED_FLAG OTHERLEAGUE_EXPERIENCE_CH
0         76001          Abdelnaby, Alaa       Alaa Abdelnaby             0      1990    1994       HISTADD_alaa_abdelnaby       alaa_abdelnaby           0                                                      None                 Y                        00
1         76002         Abdul-Aziz, Zaid      Zaid Abdul-Aziz             0      1968    1977      HISTADD_zaid_abdul-aziz      zaid_abdul-aziz           0                                                      None                 Y                        00
2         76003     Abdul-Jabbar, Kareem  Kareem Abdul-Jabbar             0      1969    1988  HISTADD_kareem_abdul-jabbar  kareem_abdul-jabbar           0                                                      None                 Y                        00
3            51      Abdul-Rauf, Mahmoud   Mahmoud Abdul-Rauf             0      1990    2000           mahmoud_abdul-rauf   mahmoud_abdul-rauf           0                                                      None                 Y                        00
4          1505       Abdul-Wahad, Tariq    Tariq Abdul-Wahad             0      1997    2003            tariq_abdul-wahad    tariq_abdul-wahad           0                                                      None                 Y                        00
...         ...                      ...                  ...           ...       ...     ...                          ...                  ...         ...       ...       ...               ...       ...       ...               ...                       ...
4833    1627790              Zizic, Ante           Ante Zizic             0      2017    2019                   ante_zizic           ante_zizic           0                                                      None                 Y                        01
4834      78647                Zoet, Jim             Jim Zoet             0      1982    1982             HISTADD_jim_zoet             jim_zoet           0                                                      None                 Y                        00
4835      78648               Zopf, Bill            Bill Zopf             0      1970    1970             HISTADD_zip_zopf            bill_zopf           0                                                      None                 Y                        00
4836    1627826             Zubac, Ivica          Ivica Zubac             1      2016    2022                  ivica_zubac          ivica_zubac  1610612746        LA  Clippers               LAC  clippers  clippers                 Y                        01
4837      78650              Zunic, Matt           Matt Zunic             0      1948    1948           HISTADD_matt_zunic           matt_zunic           0                                                      None                 Y                        00

[4838 rows x 16 columns]

In [ ]:
rptr_total[rptr_total.player_name.str.lower()=='demarcus cousins']